body{
    text-align: center;
    padding: 45px;
}
section{
    padding: 5px;
}
#orgnum{
    background-color: rgba(201, 199, 199, 0.137);
    border-radius: 15px;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    width: 80%;
    max-width: 600px;
    margin: 40px auto;
}
#orgnum:hover{
    background-color: rgba(201, 199, 199, 0.068);
    box-shadow: 0px 0px 12px rgba(124, 124, 124, 0.103);
}
#valor,.inptab{
    margin: 10px;
}
h2{
    font: bold 16px arial;
}
footer{
    width: -45px;
    line-height: 50px;
    background-color: rgba(53, 168, 168, 0.548);
    margin: 0px -45px;
}